<!-- index.html -->
<html>
<meta http-equiv="content-security-policy" content="script-src 'self' 'unsafe-inline'" />

<body
      style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw; background-color: red;">
      <!-- <button id="startButton" class="button">Start</button>
      <button id="stopButton" class="button">Stop</button>
      <video width="1280" height="1080" autoplay></video>
      <script defer src="../renderer.js"></script> -->
</body>

</html>